@import "custom";
@import "~bootstrap/scss/bootstrap";

.border {
    color: blue;
}

.high {
    background-color: black;
}

.feed {
    border: 10px;
    border-color: blue;
    background-color: green;
}

.loginText {
    color: white
}